#include <winres.h>

#define APP_NAME "Lithogen"
#define APP_VER_MAJOR 1
#define APP_VER_MINOR 0
#define APP_VER_PATCH 1

#define Q(x) #x
#define QUOTE(x) Q(x)
#define FMTVER(x,y,z,w) QUOTE(x.y.z.w)

#define APP_VER_STR FMTVER(APP_VER_MAJOR,APP_VER_MINOR,APP_VER_PATCH,0)

#define IDI_ICON1 101
IDI_ICON1 ICON "icon.ico"

VS_VERSION_INFO	VERSIONINFO
FILEVERSION     APP_VER_MAJOR,APP_VER_MINOR,APP_VER_PATCH,0
PRODUCTVERSION  APP_VER_MAJOR,APP_VER_MINOR,APP_VER_PATCH,0
FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
FILEFLAGS       0x1L
#else
FILEFLAGS       0x0L
#endif
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "FileDescription",    APP_NAME
			VALUE "FileVersion",        APP_VER_STR
			VALUE "ProductName",        APP_NAME
			VALUE "ProductVersion",     APP_VER_STR
//			VALUE "LegalCopyright",     ""
//			VALUE "LegalTrademarks1",   ""
//			VALUE "LegalTrademarks2",   ""
			VALUE "OriginalFilename",   "handmade.exe"
			VALUE "CompanyName",        "https://yellowatom.net"
			VALUE "InternalName",       "handmade"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x809, 0xFDE9 // "U.K. English", 0xFDE9=65001=CP_UTF8
	}
}
